html {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    background-color: lightblue;
    text-align: center;
    font-family: sans-serif;
}

img#header-img {
    width: 300px;
}

nav ul {
    display: flex;
}

header {
    display: flex;
    position: fixed;
    top:0;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: lightgray;
    padding-bottom: 10px;
}

main {
    height: 200vh;
}

ul {
    list-style: none;
}

li {
    margin: 0px 20px 0px 0px;
}

a.nav-link {
    text-decoration: none;
}

#title {
    margin-top: 100px;
}

h1,h2 {
    font-weight: lighter;
}

h1 {
    font-size: 2em;
}

@media (max-width: 600px) {
    header {
        padding-top: 25px;
        flex-direction: column;    
    }

    #title {
        margin-top: 200px;    
    }
}