html {
    font-size: 10px;
}

body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

img#image {
    width: 700px;
    max-width:100%;
}