:root {
    scroll-behavior: smooth;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    height: 100vh;
    padding-top: 50px;
}

#navbar {
    top:0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: lightgray;
}

#navbar li {
    padding-left: 20px;
    display: inline;
}

#navbar a {
    text-decoration: none;
}

#projects {
    padding-top: 50px;
    height: 100vh;
}

#projects div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

#projects article {
    padding: 50px;
}

#profile-links {
    text-align: center;
    padding-top: 50px;
    height: 100vh;
    background-color: lightgray;
}

@media (max-width: 650px) {
    #projects div {
        grid-template-columns: auto auto;
    }
}